.jumbotron {
    background-color: navy;
    color: white;
    text-align: center;
}

form {
    border: 2px solid whitesmoke;
}

form h4 {
    background-color: whitesmoke;
}

section {
    border: 2px solid whitesmoke;
}

section h1 {
    background-color: whitesmoke;
}

#results-area div {
    border: 2px solid lightgray;
    padding: 5px;
}